<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.fekrafarinan.yademman"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Leitner.Activities.HomeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Leitner.Activities.SelectCardsActivity" />
        <activity android:name=".Leitner.Activities.CardActivity" />
        <activity
            android:name=".Leitner.Activities.LoginActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Leitner.Utils.NotificationIntentService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".Leitner.Utils.NotificationEventReceiver" />
        <receiver android:name=".Leitner.Utils.NotificationServiceStarterReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Leitner.Activities.SignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Leitner.Activities.SettingsActivity" />
        <activity android:name=".Leitner.Activities.ShoppingActivity" />
        <activity android:name=".Leitner.Activities.MainActivity" />
        <activity android:name=".Leitner.Activities.FirstPageActivity" />
        <activity android:name=".Leitner.Activities.NotificationsActivity" />
        <activity
            android:name=".Leitner.Activities.VerificationActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Leitner.Activities.SignUpDetailsActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".Leitner.Activities.EmailSignUpActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
    </application>

</manifest>